<%= javascript_include_tag 'jquery.leanModal.min' %>
<%
  paginated_products = @searcher.products if params.key?(:keywords)
  paginated_products ||= products
%>
<% if products.empty? %>
  <%= t(:no_products_found) %>
<% elsif params.key?(:keywords) %>
  <h3><%= t(:search_results, :keywords => h(params[:keywords])) %></h3>
<% end %>
 
<% if products.any? %>
<ul class="product-listing">
  <% products.each do |product| %>
    <% if Spree::Config[:show_zero_stock_products] || product.has_stock? %>
      <li id="product_<%= product.id %>">
        <%= hook :products_list_item, {:product => product} do %>
          <%= link_to raw(product.name), product, :class => 'product-name' %>
          <%= hook :products_list_item_image, {:product => product} do %>
          <div class="product-image-wrapper">
              <%= link_to small_image(product), product %>
          </div>
          <div class="product-buttons">
          <%= link_to "Подробнее", product, :class => "button list-button", :style => "width:70px;float:left;margin-left:20px;" %>
          <% 
            variants = false

            if product.has_variants?
              variants = self.render_to_string(:partial => '/products/variants', :locals => { :product => product})
            end

            variants = variants.to_json
          %>
          <%= link_to_function "Купить", "addToCart(this, \"#{!product.has_variants? && false ? 'order[quantity]' : "variants[#{product.master.id}]"}\", #{variants})",
            :class => "button list-button", :style => "width:70px;float:right;margin-right:20px;" %>
          <%= link_to raw("<span class='price selling'>#{product_price(product)}</span>"), product, :class => 'info' %>
        </div>
          <% end %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
<% end %>
 
<% if paginated_products.respond_to?(:total_pages)
      params.delete(:search)
      params.delete(:taxon)
%>
  <%= will_paginate(paginated_products,
                    :previous_label => "&#171; #{t('previous')}",
                    :next_label => "#{t('next')} &#187;") %>
<% end %>
 
<script type="text/javascript">
  var showBox = false;

  function addToCart(th, name, variantsToChoose){
    $('#cart_form .generated').remove();
    $('#cart_form').append('<input class="generated" type="hidden" name="' + name + '" value="1"/>');

    if(variantsToChoose){
      $(th).attr('href', '#test').leanModal({top: 200, closeButton: '.close-button'});
      $('#cart_form').prepend('<div class="generated">' + variantsToChoose + '</div>');

      showBox = true;
      setTimeout(function(){
          if(showBox){
            $(th).click();
            showBox = false;
          }
      }, 100);
      return false;
    }

    $('#cart_form').submit();
  }
</script>
<div id="test" style="display: none; ">
  <a class="close-button" href="javascript:;"></a>
<%= form_for :order, :url => populate_orders_url, :html => { :id => "cart_form" } do |f| %>
    <button type='submit' class='super-large large primary'>
      <%= image_tag('/images/add-to-cart.png', :style => "padding-right:2px") + t('add_to_cart') %>
    </button>
<% end %>
		</div>
