<%= javascript_include_tag 'jquery-1.5.1.min.js' %>
<%= javascript_include_tag 'jquery.easing.1.3.js' %>
<%= javascript_include_tag 'slides.min.jquery.js' %>

<% content_for :sidebar do %>
  <%= render "shared/taxonomies" %>
<% end %>

<% @taxons.each do |taxon| %>
  <div class="taxon">
    <h2><%= taxon.name %></h2>
    <%= render :partial => "shared/products", :locals => {:products => taxon_preview(taxon, 6), :taxon => taxon} %>
  </div>
<% end %>

<h1>Обувь с пальцами, товары для путешествий и подарки: Магазин + доставка по РФ</h1>
<div>
  <a href="/t/brands/vibram-fivefingers"><img src="/images/homepics/vibramfivefingers-new.jpg" alt="Новое поступление Vibram FiveFingers! Юникикс на м. Маяковская! У нас можно померить перед покупкой. Быстрая доставка по Москве и РФ. Синонимы: Тапки с пальцами, кроссовки с пальцами, ботинки с пальцами, Vibram Five Fingers" /></a>
</div>
<div>
  <a href="/t/categories/rolikovye-konki"><img src="/images/homepics/skorpion-quadline.png" alt="Удобные роликовые коньки(квады) — Skorpion Quadline" ></a>
  <a href="/map"><img src="/images/homepics/map.png" alt="Схема проезда в магазин Unikicks (Юникикс) на Маяковской (ул. Фадеева, 2)" >
</div>
<script type="text/javascript" src="http://userapi.com/js/api/openapi.js?48"></script>

<!-- VK Widget -->
<div id="vk_groups"></div>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 2, width: "700", height: "350"}, 28564277);
</script>
<p><a href="http://twitter.com/unikicks"><img src="/images/social/twitter_64.png"></a>
<a href="http://vkontakte.ru/unikicks"><img src="/images/homepics/vkontakte_64.png"></a>
<a href="http://www.facebook.com/pages/Unikicks/126650674093416"><img src="/images/social/facebook_64.png"></a></p>
