<%= javascript_include_tag 'jquery-1.5.1.min.js' %>
<%= javascript_include_tag 'jquery.easing.1.3.js' %>
<%= javascript_include_tag 'slides.min.jquery.js' %>

<% content_for :sidebar do %>
  <%= render "shared/taxonomies" %>
<% end %>

<% @taxons.each do |taxon| %>
  <div class="taxon">
    <h2><%= taxon.name %></h2>

    <%= render :partial => "shared/products", :locals => {:products => taxon_preview(taxon, 6), :taxon => taxon} %>
  </div>
<% end %>

<h1>–î–æ–±—Ä–æ –ø–æ–∂–∞–ª–æ–≤–∞—Ç—å –≤ –∏–Ω—Ç–µ—Ä–Ω–µ—Ç-–º–∞–≥–∞–∑–∏–Ω –Æ–Ω–∏–∫–∏–∫—Å!</h1>
<!--
<div>
    <a href="http://unikicks.ru/"><img src="/images/homepics/sorry" border="20px" alt="¬ÌËÏ‡ÌËÂ, ‚‡ÊÌ‡ˇ ËÌÙÓÏ‡ˆËˇ!" /></a></div>
<div>
<a href="/predzakaz"> <img src="/images/homepics/predzakaz.png" border="20px" alt="–ù–∞—à –∞—Å—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç" ></a> <a href="/map"><img src="/images/homepics/map.png" border="20px" alt="–°—Ö–µ–º–∞ –ø—Ä–æ–µ–∑–¥–∞" >
</div>
<script type="text/javascript" src="http://userapi.com/js/api/openapi.js?48"></script>
-->


	<script>
		$(function(){
			$('#slides').slides({
				preload: true,
				preloadImage: '/images/slides/loading.gif',
				play: 5000,
				pause: 2500,
				hoverPause: true
			});
		});
	</script>
<!-- this is testing content -->
		<div id="example">
			<img src="/images/slides/new-ribbon.png" width="112" height="112" alt="New Ribbon" id="ribbon">
			<div id="slides">
				<div class="slides_container">
					<a href="http://www.flickr.com/photos/jliba/4665625073/" title="145.365 - Happy Bokeh Thursday! | Flickr - Photo Sharing!" target="_blank"><img src="http://slidesjs.com/examples/standard/img/slide-1.jpg" width="570" height="270" alt="Slide 1"></a>
					<a href="http://www.flickr.com/photos/stephangeyer/3020487807/" title="Taxi | Flickr - Photo Sharing!" target="_blank"><img src="http://slidesjs.com/examples/standard/img/slide-2.jpg" width="570" height="270" alt="Slide 2"></a>
					<a href="http://www.flickr.com/photos/childofwar/2984345060/" title="Happy Bokeh raining Day | Flickr - Photo Sharing!" target="_blank"><img src="http://slidesjs.com/examples/standard/img/slide-3.jpg" width="570" height="270" alt="Slide 3"></a>
					<a href="http://www.flickr.com/photos/b-tal/117037943/" title="We Eat Light | Flickr - Photo Sharing!" target="_blank"><img src="http://slidesjs.com/examples/standard/img/slide-4.jpg" width="570" height="270" alt="Slide 4"></a>
					<a href="http://www.flickr.com/photos/bu7amd/3447416780/" title="‚ÄúI must go down to the sea again, to the lonely sea and the sky; and all I ask is a tall ship and a star to steer her by.‚Äù | Flickr - Photo Sharing!" target="_blank"><img src="http://slidesjs.com/examples/standard/img/slide-5.jpg" width="570" height="270" alt="Slide 5"></a>
					<a href="http://www.flickr.com/photos/streetpreacher/2078765853/" title="twelve.inch | Flickr - Photo Sharing!" target="_blank"><img src="http://slidesjs.com/examples/standard/img/slide-6.jpg" width="570" height="270" alt="Slide 6"></a>
					<a href="http://www.flickr.com/photos/aftab/3152515428/" title="Save my love for loneliness | Flickr - Photo Sharing!" target="_blank"><img src="http://slidesjs.com/examples/standard/img/slide-7.jpg" width="570" height="270" alt="Slide 7"></a>
				</div>
				<a href="#" class="prev"><img src="/images/slides/arrow-prev.png" width="24" height="43" alt="Arrow Prev"></a>
				<a href="#" class="next"><img src="/images/slides/arrow-next.png" width="24" height="43" alt="Arrow Next"></a>
			</div>
			<img src="/images/slides/example-frame.png" width="739" height="341" alt="Example Frame" id="frame">
		</div>
<!-- end of testing content -->

<!-- VK Widget -->
<div id="vk_groups"></div>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 2, width: "700", height: "350"}, 28564277);
</script>
<p><a href="http://twitter.com/unikicks"><img src="/images/social/twitter_64.png"></a>
<a href="http://vkontakte.ru/unikicks"><img src="/images/homepics/vkontakte_64.png"></a>
<a href="http://www.facebook.com/pages/Unikicks/126650674093416"><img src="/images/social/facebook_64.png"></a></p>