<%= form_for :order, :url => populate_orders_url do |f| %>
<%= hook :inside_product_cart_form do %>

  <% if product_price(@product) %>
    <%= hook :product_price do %>
      <p class="prices">
        <%= t("price") %>
        <br />
        <span class="price selling"><%= product_price(@product) %></span>
      </p>
    <% end %>
  <% end %>

  <% if @product.has_variants? %>
    <%= render :partial => "variants" %>
  <% end%>
  <% if @product.has_stock? || Spree::Config[:allow_backorders] %>
    <%= text_field_tag (@product.has_variants? ? :quantity : "variants[#{@product.master.id}]"),
      1, :class => "title", :size => 3 %>
    &nbsp;
    <button type='submit' class='super-large large primary'>
      <%= image_tag('/images/add-to-cart.png', :style => "padding-right:2px") + t('add_to_cart') %>
    </button>
    <br/>
    <br/>
    <button onclick='window.open("http://unikicks.s6.octoline.ru/widgets/callme_new.php?service_instance_id=2875", "CallMe", "width=320, height=350, resizable=no, toolbar=0, status=0, location=0, directories=0, menubar=0, scrollbars=0");' class='super-large-with-small-font large primary'>
      <%= 'Заказать звонок' %>
    </button>
    <div style="font-size:40%"><i>Закажи звонок, оформи заказ по телефону!</i></div>
  <% else %>
    <%= content_tag('strong', t('out_of_stock')) %>
  <% end %>

<% end %>
<% end %>

<% content_for :head do %>
  <%= javascript_include_tag 'pikachoose/jquery.jcarousel.min' %>
  <%= javascript_include_tag 'pikachoose/jquery.pikachoose.full' %>
  <%= stylesheet_link_tag 'pikachoose-styles/bottom' %>

  <script type="text/javascript" charset="utf-8">

	$(document).ready(function(){
    var makeNavShowAlways = function(pikachoose){
      pikachoose.wrap.unbind('mouseenter.pikachoose').unbind('mouseleave.pikachoose');

      if($('#product-thumbnails li').length > 1){
        pikachoose.imgNav.stop(true,true).fadeTo('slow', 1.0);
      }else{
        pikachoose.imgNav.stop(true,true).fadeTo('slow', 0.0);
      }
    };

    $('a.zoom-image').leanModal({top: 50, closeButton: '.close-button'});
    $('#product-thumbnails').PikaChoose({autoPlay: false,
      bindsFinished: function(pikachoose){
        makeNavShowAlways(pikachoose);

        $('#product-show .pika-stage').append('<div style="position:absolute;bottom:10px;right:280px;margin-right:-100px;width:200px;text-align:center;"><a class="zoom-image" href="#product-show-modal" style="font-size:16px;background-image:url(/images/zoom-icon.png);padding-left:18px;background-repeat: no-repeat;line-height:16px;">Увеличить изображение</a></div>');
        $('a.zoom-image').leanModal({top: 50, closeButton: '.close-button'});
        var lastStep = 0;
        $('a.zoom-image').click(function(){
            var step = $('#product-thumbnails img').index($('#product-thumbnails').data('pikachoose').active);
            if(step != lastStep){
              $('#product-thumbnails-big img:nth(' + step + ')').click();
              $('.pika-loader').css('display', 'none');
            }

            lastStep = step;
        });

        $('#product-thumbnails-big').PikaChoose({autoPlay: false, transition: [0], bindsFinished: makeNavShowAlways });
      }
    });
	});
  </script>

<% end %>
