<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <%= render 'shared/head' %>
  <%= stylesheet_link_tag 'slide' %>
</head>
<%
   if @body_class.nil?
     if content_for?(:sidebar)
       @body_class = 'two-col'
     else
       @body_class = 'one-col'
     end
   end
%>

<body class="<%= @body_class %>" id="<%= @body_id %>">

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="wrapper">
  <div class="main_top" align="center">
    <div class="header_panel">
      <ul>
        <li style="text-align: center; width: 265px">
          <div><%= link_to image_tag("logo.png",
          :alt => "Unikicks — магазин Vibram FiveFingers, сандалии, обувь с пальцами, треккинг, обувь для фитнеса, лёгкая обувь, летняя обувь.",
          :title => "Unikicks"), root_url %></div></li>
        <li style="padding-left: 16px; width: 265px; font-size:150%;"> <img src="http://unikicks.ru/images/ico/telephone-logo-16x16.png" style="padding-top: 10px;"> <font size="4"><b>8 (499) 922-06-70</b></font>

<br />
<a style='text-decoration:underline;cursor:pointer;' alt='Бесплатный вызов' onclick='window.open("http://unikicks.s6.octoline.ru/widgets/callme_new.php?service_instance_id=2875", "CallMe", "width=320, height=350, resizable=no, toolbar=0, status=0, location=0, directories=0, menubar=0, scrollbars=0");' >Заказать звонок</a>
</li>
        <li>

  <li style="padding-left: 16px; width: 350px; font-size:100%;"> &nbsp<b>м. Маяковская, ул. Фадеева, 2</b></font>

<br />
ежедневно с 12-00 до 20-00
<br />

<a href="/map" style='text-decoration:underline;cursor:pointer;' alt='Открыть схему проезда'>Схема проезда</a>
</li>
        <li>
          <div><%= link_to_cart %></div>
          <% if defined?(SpreeCompareProducts) %>
            <div><%= link_to(t(:product_comparison, :scope => :compare_products) + (@comparable_products.size > 0 ? " (#{@comparable_products.count})" : ""),
                             compare_products_path, :id => "compare_products") %></div>
            <div id="tooltip" class="tooltip" style="display: none">
              <div class="tooltip_top"></div>
              <div class="tooltip_middle">
                <div style="font-size: 0px">&nbsp;</div>
                <div class="tooltip_content" id="tooltip_content"></div>
                <div style="font-size: 0px">&nbsp;</div>
              </div>
              <div class="tooltip_bottom"></div>
            </div>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div align="center">
    <div class="fixed_width">
      <div id="top_panel">
        <div id="top_login_bar">
          <%= hook :shared_login_bar %>
        </div>
        <div id="header_menu">
          <ul class="header_menu">
            <% for page in Page.header_links do %>
              <li><%= link_to page.title, page.link %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <%= render :partial => 'shared/comparable_products' if defined?(SpreeCompareProducts) %>
      <% if content_for?(:sidebar) %>
        <div class="sidebar">
          <%= hook :sidebar do %>
            <%= yield :sidebar %>
          <% end %>

          <% if Page.sidebar_links.any? %>
          <div id="sidebar_menu">
            <ul class="sidebar_menu">
              <% for page in Page.sidebar_links do %>
                <li><%= link_to page.title, page.link %></li>
              <% end %>
            </ul>
          </div>
          <% end %>
        </div>
      <% end %>
      <div id="content" class="content">
        <%= flash_messages %>
        <noscript>
          <% if flash[:notice] %>
            <div class="flash notice"><%= flash[:notice] %></div>
          <% end %>
          <% if flash[:error] %>
            <div class="flash errors"><%= flash[:error] %></div>
          <% end %>
        </noscript>
        <%= yield %>
        <div align="center"><%= render 'shared/search' %></div>
      </div>
      <div style="height: 10px;"></div>
    </div>
  </div>
  <div class="footer_fake"></div>
</div>

<div class="footer" align="center">

<% cache 'footer_menu' do %>
  <ul class="footer_menu">
      <li style="margin-right:50px;color:#ffffff;">&copy; 2012 Unikicks (Юникикс) &mdash; уникальная обувь.</li>
      <li style="margin-right:50px;color:#ffffff;">Официальный дилер Vibram FiveFingers в России</li>
    <% for page in Page.footer_links do %>
      <li><%= link_to page.title, page.link %></li>
    <% end %>
  </ul>
</div>
<% end %>
<%= hook :footer_right %>
<% cache 'google_analytics' do %>
  <%= render 'shared/google_analytics' %>
<% end %>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter14235784 = new Ya.Metrika({id:14235784,
                    clickmap:true,
                    trackLinks:true, webvisor:true});
        } catch(e) {}
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<!-- /Yandex.Metrika counter -->
</body>
</html>
